* {
    padding: 0;
    margin: 0;
}

.main {
    background-image: url(images/concert-mobile-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
  }
  
  .Mobile-navbar {
    padding: 20px;
  }
  
  .Mobile-navbar ul {
    display: none;
  }
  
  .Mobile-navbar .hamburger {
    display: flex;
    align-items: center;
    font-size: 40px;
    justify-content: center;
    width: 60px;
    height: 60px;
  }
  
  .content {
    color: #fff;
  }
  
  .main-content-heading {
    font-size: 40px;
    font-weight: 900;
    background-image: url(images/sun.jpg);
    -webkit-background-clip: text;
    color: transparent;
    line-height: 46px;
  }
  
  .container {
    padding: 4%;
    padding-bottom: 10%;
  }
  
  .content-hellow {
    font-size: 26px;
    font-weight: 400;
    line-height: 12px;
    margin: 20px 0;
    color: #f36038;
  }
  
  .content-detail {
    border: 1px solid #898989;
    margin: 20px 0;
    color: #272a31;
    line-height: 30px;
    padding: 10px;
    text-align: center;
    background-color: #fff;
  }
  
  .content-lastline {
    color: #272a31;
    font-size: 20px;
    margin: 10px;
    text-align: center;
  }

  .content-lastline strong {
    text-decoration: underline;
  }

  /* ---------------ABOUT-MUSIC SECTION STARTING-------------- */

  .about-music {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 10px;
  }

  .about-music h2 {
    font-size: 25px;
    color: #272a31;
    line-height: 35px;
  }

  .about-music p {
    margin: 10px;
    color: #272a31;
    font-weight: 300;
  }

  .about-music .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 0 50px;
    border: 2px solid #e0e0e0;
  }

  .about-music .logo span {
    color: #f22917;
  }

  .about-music .logo a {
    font-size: 62px;
    line-height: 48px;
    text-decoration: none;
  }

  .about-past {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-top: 2px solid #d3d3d3;
    padding: 20px;
    margin: 40px 0;
  }

  .about-past h2  {
    font-size: 25px;
    color: #272a31;
    position: relative;
    line-height: 35px;
    text-align: center;
  }

  .about-past p {
    color: #272a31;
    font-weight: 300;
    text-align: center;
  }

  .about-past-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .about-past-container >div {
    width: 100%;
    height: 250px;
    position: relative;
  }

  .about-past-container img {
    width: 100%;
    height: 250px;
  }

  .image-detail {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(242, 41, 23,0.6);
  }

  .image-detail h3 {
    color: #fff;
    font-size: 40px;
  }

  .image-detail p {
    color: #fff;
    font-size: 20px;
  }