* {
  padding: 0;
  margin: 0;
}

header {
  display: none;
}

.main {
  background-image: url(images/concert-mobile-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.Mobile-navbar {
  padding: 20px;
}

.Mobile-navbar ul {
  display: none;
  flex-direction: column;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100vh;
}

.Mobile-navbar img {
  display: none;
  background-color: red;
  position: absolute;
  right: 40px;
  top: 40px;
  width: 40px;
}

.Mobile-navbar ul li a {
  text-decoration: none;
  font-size: 25px;
  color: #010101;
  cursor: pointer;
  font-weight: 600;
}

.Mobile-navbar .hamburger {
  display: flex;
  align-items: center;
  font-size: 40px;
  justify-content: center;
  width: 60px;
  height: 60px;
}

.content {
  color: #fff;
}

.main-content-heading {
  font-size: 40px;
  font-weight: 900;
  background-image: url(images/sun.jpg);
  -webkit-background-clip: text;
  color: transparent;
  line-height: 46px;
}

.container {
  padding: 4%;
  padding-bottom: 10%;
}

.content-hellow {
  font-size: 26px;
  font-weight: 400;
  line-height: 12px;
  margin: 20px 0;
  color: #f36038;
}

.content-detail {
  border: 4px solid white;
  margin: 20px 0;
  line-height: 30px;
  padding: 10px;
  color: #898989;
  background-color: #f6f6f7;
}

.content-secondHeading {
  font-weight: 900;
  color: #6d6d6d;
  font-size: 28px;
  margin: 10px;
}

.content-lastline {
  color: #8f8f8f;
  font-size: 20px;
  font-weight: 300;
  font-weight: 500;
  margin: 10px;
}

/* ------------------card work---------------- */
.program {
  display: grid;
  grid-row-gap: 30px;
  justify-content: center;
  background-color: #010101;
  padding: 7% 0;
  color: #fff;
}

.program h3 {
  display: flex;
  justify-content: center;
}

.program button {
  width: 200px;
  height: 50px;
  background-color: #fe4f38;
  color: #fdd9d6;
  border: none;
  margin: 10px auto;
}

.cards {
  display: flex;
  flex-direction: column;
}

.Card {
  display: flex;
  gap: 20px;
  height: 100px;
  background-color: rgba(39, 42, 49, 0.5);
  color: #d3d3d3;
  margin: 8px 0;
  padding: 0 20px;
  align-items: center;
}

.Card h5 {
  font-size: 1.3rem;
  color: #d74c3a;
}

/* ---------------Guest section starting-------------------- */
.guests {
  display: flex;
  flex-direction: column;
  padding: 2% 0;
  gap: 20px;
}

.guests h2 {
  margin: 15px auto;
  font-size: 30px;
  line-height: 35px;
  color: #46484e;
}

.guest-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.singer {
  display: flex;
  gap: 10px;
}

.guests button {
  width: 90%;
  height: 37px;
  margin: 10px auto;
  font-size: 20px;
  background-color: #fff;
  border: 1px solid #d3d3d3;
  box-shadow: 1px 2px #fe4f38;
}

.singer-details h4 {
  color: #fd9b91;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 15px;
}

 /* ------------------------Desktop Version----------------- */
 @media screen and (min-width:768px) {
  header {
      display: block;
  }

  header .top-navbar {
      background-color: #3e3e3e;
      color: #fff;
  }
  
  header .top-navbar ul {
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 1rem;
      margin-right: 8rem;
      list-style-type: none;
  }
  
  header .top-navbar ul li a {
      text-decoration: none;
      color: #fff;
  }
  
  header .top-navbar ul li a img{
      width: 2rem;
  }
  
  .Mobile-navbar {
      display: none;
  }
  
   header .bottom-navbar {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 0.7rem 7rem;
  }
   
  .bottom-navbar .logo {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;
  }
  
  .bottom-navbar .logo span {
      font-size: 30px;
      line-height: 25px;
      color: #f34d17;
  }
  
  header .bottom-navbar ul {
      display: flex;
      list-style-type: none;
  }
  
  header .bottom-navbar ul li a {
      text-decoration: none;
      color: #3b434e;
      font-size: 20px;
      font-weight: 400;
  }
  
  header .bottom-navbar ul li {
      border: 4px solid #fff;
      padding: 0.9rem;
  }
  
  header .bottom-navbar ul li:hover {
      border: 4px solid #f04831;
      padding: 0.9rem;
  }
}